body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 5rem 0 !important;
    padding: 0 !important;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #1a468e;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    width: 100% !important;
    height: 5rem !important;
    background-color: #1a468e !important;
    position: fixed !important;
    bottom: 0 !important;
    z-index: 99 !important;
}

.nav-link {
    font-weight: bold;
    color: #667f99 !important;
}
.nav-link:hover {
    color: #fff !important;
}

.btn-primary {
    border: #004388 !important;
    border-radius: 0 !important;
    background-color: #004388 !important;
    transition: all .2s;
}
.btn-primary:hover {
    border: #00a6e2 !important;
    background-color: #00a6e2 !important;
}

.badge {
    margin: .25rem !important;
    padding: .5rem 1rem !important;
    color: #004388 !important;
    border: 1px solid #004388 !important;
    border-radius: 10rem !important;
    background-color: #fff !important;
    transition: all .2s;
}
.badge:hover {
    color: #fff !important;
    background-color: #004388 !important;
}

.Select-value {
    background-color: #004388 !important;
    border: #004388 !important;
    color: #fff !important;
}