body {
    font-family: Arial, Helvetica, sans-serif;
}

/* div {
    margin: 0 auto;
} */

.layout-div {
    margin: 0 auto;
}

.header {
    padding: 1.75rem 0;
    width: 100%;
    height: 5rem;
    background-color: #1a468e;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header h1 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    transform: translate(-4.75rem, -.8rem);
}
.header img {
    height: 1.25rem;
    transform: translate(-4.75rem, -1rem);
}

h2 {
    font-weight: bold !important;
}

.content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.navbar {
    width: 100% !important;
    height: 5rem !important;
    background-color: #1a468e !important;
    position: fixed !important;
    bottom: 0 !important;
    z-index: 99 !important;
}

.nav-item {
    padding: 0 2rem !important;
    transform: translateX(-25rem);
}

.nav-link {
    font-weight: bold;
    /* color: #667f99 !important; */
    color: #ccc !important;
}
.nav-link:hover {
    color: #fff !important;
}

.btn-primary {
    width: 100% !important;
    border: #004388 !important;
    border-radius: 10rem !important;
    background-color: #004388 !important;
    transition: all .2s;
}
.btn-primary:hover {
    border: #00a6e2 !important;
    background-color: #00a6e2 !important;
}

.mapboxgl-canvas {
    width: calc(972px - 5rem);
    height: calc(675px - 5rem);
}

.badge {
    margin: .25rem !important;
    padding: .5rem 1rem !important;
    color: #004388 !important;
    border: 1px solid #004388 !important;
    border-radius: 10rem !important;
    background-color: #fff !important;
    transition: all .2s;
}
.badge:hover {
    color: #fff !important;
    background-color: #004388 !important;
}

.Select-value {
    background-color: #004388 !important;
    border: #004388 !important;
    color: #fff !important;
}

.vehicle-container {
    margin-top: 7rem !important;
}

.location-container {
    background-color: #f6c662;
}

#leaderboard {
    margin-bottom: 8rem !important;
}

.qr-container {
    background-color: #f6c662;
}
.qr-code {
    height: 12rem;
    display: none;
}